<font size="5" color="white">Task 1</font>

1. convert_cel_to_far() which takes one float parameter representing degrees Celsius and returns a float representing the same temperature in degrees Fahrenheit using the following formula: F = C * 9/5 + 32

In [1]:
def convert_cel_to_far(Celsius):
    F = Celsius*9/5+32
    print(f"{Celsius} C = {F} F")

convert_cel_to_far(50)

50 C = 122.0 F

2. convert_far_to_cel() which take one float parameter representing degrees Fahrenheit and returns a float representing the same temperature in degrees Celsius using the following formula: C = (F - 32) * 5/9

In [3]:
def convert_far_to_cel(Fahrenheit):
    C = (Fahrenheit - 32)*5/9
    print(f"{Fahrenheit} F = {C} C")

convert_far_to_cel(122)

122 F = 50.0 C

<font size="5" color="white">Task 2</font>

In [9]:
def invest(amount, rate, years):
    D = amount * ((1 + rate / 100) ** years)  
    print(f"The profit for {years} years/year is {D}")

print(invest(100, 5, 1))
print(invest(100, 5, 2))
print(invest(100, 5, 3))
print(invest(100, 5, 4))

The profit for 1 years/year is 105.0
None
The profit for 2 years/year is 110.25
None
The profit for 3 years/year is 115.76250000000002
None
The profit for 4 years/year is 121.55062500000003
None

<font size="5" color="white">Task 2</font>

In [18]:
def factor(number):
    for n in range(1, number + 1):
        if number % n == 0:
            print(f"{n} is a factor of {number}")

factor(12)

1 is a factor of 12
2 is a factor of 12
3 is a factor of 12
4 is a factor of 12
6 is a factor of 12
12 is a factor of 12

<font size="5" color="white">Task 3</font>

In [20]:
universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]

def enrollment_stats(universities):
    enrollments = [i[1] for i in universities]
    tuition = [i[2] for i in universities]
    return enrollments, tuition

def means(ls):
    return sum(ls) / len(ls)

def medians(ls):
    sorting = sorted(ls)
    length = len(sorting)
    if length % 2 == 0:
        return (sorting[length // 2 - 1] + sorting[length // 2]) / 2
    else:
        return sorting[length // 2]

enrollment, tuition = enrollment_stats(universities)
total_students = sum(enrollment)
sum_tuition = sum(tuition)
meanofst = means(enrollment)
medianofst = medians(enrollment)
meanoftuit = means(tuition)
medianoftuit = medians(tuition)

print(f"Total students: $ {total_students}")
print(f"Total tuition: $ {sum_tuition}")
print(f"Student mean: $ {meanofst}")
print(f"Student median: $ {medianofst}")
print(f"Tuition mean: $ {meanoftuit}")
print(f"Tuition median: $ {medianoftuit}")

Total students: $ 77285
Total tuition: $ 271905
Student mean: $ 11040.714285714286
Student median: $ 10566
Tuition mean: $ 38843.57142857143
Tuition median: $ 39849